<div class="form-group">
      &nbsp;
</div>

<center>
<div class="card" style="width: 20rem;">
  <div class="card-body">
    <h4 class="card-title">Alteração da senha</h4>


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "Nova senha" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caracteres no mínimo)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirme a nova senha" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Mudar minha senha" %>
  </div>
<% end %>

<div class="form-group">
      &nbsp;
</div>

<%= render "devise/shared/links" %>
    
  </div>
</div>
</center>