<div class="form-group">
  &nbsp;
</div>

<center><h4>Valores</h4></center>


<div class="form-group">
  &nbsp;
</div>


<div class="row">
  <div class="card col-sm-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">R$ 20,00</h4>
        <p class="card-text"></p>
        <a href="https://biz.payulatam.com/B0a95af7E36D9DB"><img src="http://www.payulatam.com/img-secure-2015/boton_pagar_grande.png"></a>
        <div class = "row">
          <center><%= image_tag("cartao.png", width: "70", height: "80") %>
          <%= image_tag("barras.jpg", width: "80", height: "80")%></center>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card col-sm-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">R$ 40,00</h4>
        <p class="card-text"></p>
        <a href="https://biz.payulatam.com/B0a95afCBA5858F"><img src="http://www.payulatam.com/img-secure-2015/boton_pagar_grande.png"></a>
        <div class = "row">
          <center><%= image_tag("cartao.png", width: "70", height: "80") %>
          <%= image_tag("barras.jpg", width: "80", height: "80")%></center>
        </div>
      </div>
    </div>
  </div>

  <div class="card col-sm-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">R$ 60,00</h4>
        <p class="card-text"></p>
        <a href="https://biz.payulatam.com/B0a95af1B7A9DEA"><img src="http://www.payulatam.com/img-secure-2015/boton_pagar_grande.png"></a>
        <div class = "row">
          <center><%= image_tag("cartao.png", width: "70", height: "80") %>
          <%= image_tag("barras.jpg", width: "80", height: "80")%></center>
        </div>
      </div>
    </div>
  </div>

<div class="card col-sm-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">R$ 80,00</h4>
        <p class="card-text"></p>
        <a href="https://biz.payulatam.com/B0a95af2AFB7A44"><img src="http://www.payulatam.com/img-secure-2015/boton_pagar_grande.png"></a>
        <div class = "row">
          <center><%= image_tag("cartao.png", width: "70", height: "80") %>
          <%= image_tag("barras.jpg", width: "80", height: "80")%></center>
        </div>
      </div>
    </div>
  </div>


</div>